// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #c5c5c5;
}
header{
  background-color: #0e0e0e;
  color: #ffffff;
}
.navbar{
  background-color: #040404;
}
footer{
  background-color: #20608e;
}